html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background: url(images/edit-profile.jpg);
}


/* Header */

header.page-header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(28, 37, 60);
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;

}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.main-menu ul {
    margin: 0;
    margin-left: 200px;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 2em;
}

.main-menu a {
    color: white;
    font-family: "Roboto";
    font-size: 150%;
}


/* Main */

main {
    display: block;
    min-height: 200px;
    padding-top: 115px;
    color: black;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.posts {
    color: white;
    min-height: 50px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(38, 44, 59);
    box-shadow: 0 0 10px #cccccc;
}


/* Footer */

footer.page-footer {
    min-height: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: rgb(28, 37, 60);
    background-image: linear-gradient(45deg, transparent 50%, #6d6565 50%), linear-gradient(-45deg, transparent 50%, red 50%), linear-gradient(135deg, transparent 50%, #6d6565 50%), linear-gradient(-135deg, transparent 50%, red 50%);
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 10px 12px;
}

p {
    text-align: center;
}

i {
    font-size: 150%;
}

.img-profile {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 200px;
    height: 200px;
}

.text {
    color: white;
    font-family: "Roboto";
    font-size: 150%;
}

.info {
    text-align: center;
    color: white;
    float: right;
    width: 40%;
    background: #585549;
    border: 5px solid white;
    border-bottom-width: 15px;
    box-shadow: 0 0 8px -1px #f39c12;
}

.profile {
    text-align: center;
    color: white;
    float: left;
    width: 40%;
    background: #585549;
    border: 5px solid white;
    border-bottom-width: 15px;
    box-shadow: 0 0 8px -1px #f39c12;
}

.edit-profile {
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: 150%;
}

.button-edit {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(105, 167, 78);
    background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(44, 81, 21);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 0.666667px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(59, 110, 34);
    border-left-style: solid;
    border-left-width: 0.666667px;
    border-right-color: rgb(59, 110, 34);
    border-right-style: solid;
    border-right-width: 0.666667px;
    border-top-color: rgb(59, 110, 34);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 0.666667px;
    box-shadow: rgb(164, 227, 136) 0px 1px 1px 0px inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23.9333px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    min-width: 194px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px
    }