html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #2c3e50;
}

main {
    display: block;
    min-height: 200px;
    padding-top: 20px;
    color: black;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.text_video {
    margin: 0 20px;
    padding: 10px;
    background-color: rgba(241, 196, 15, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 3px #cccccc;
}

.text_video::after {
    content: "";
    display: table;
    clear: both;
}

.profile {
    float: left;
    width: 51%;
    min-height: 100px;
    padding: 2%;
    background-color: rgba(243, 156, 18, 0.1);
    border-radius: 5px;
    padding-bottom: 130px;
}

.last-actions {
    float: right;
    width: 40%;
    min-height: 100px;
    border: 5px solid white;
    border-bottom-width: 15px;
}

.foto {
    min-height: 50px;
    margin: 20px 0;
    padding: 20px;
    background: #f5f5f5;
    box-shadow: 0 0 5px #cccccc;
}

img {
   width: 200px; height: 200px;
   padding-left: 30px;
}
