.block-post{
    font-family: Arial, Helvetica;
    text-align: justify;
    float: left ;
    width: 75%;
    margin: 10px;
}
.other-block-post{
    float:left;
    font-family: Arial, Helvetica;
    width: 75%;
}
.date {
    position: absolute;
    top: 30px;
    font-family: Arial, Helvetica;
    right:320px;
}
.t {
    color: green;

}
.r{
    color: green;

}
.br{
    color: green;
}

.hh {
    border-radius: 50%;
}

