.block-post{
    font-family: Arial, Helvetica;
    text-align: justify;
    float: left ;
    width: 75%;
   font-size: 20px;
}
.other-block-post{
    float: right;;
    font-family: Arial, Helvetica;
    width: 25%;
}
.date {
    position: absolute;
    top: 30px;
    font-family: Arial, Helvetica;
    right:320px;
}
.t {
    color: green;

}
.r{
    color: green;

}
.br{
    color: green;
}

.hh {
    border-radius: 50%;
}
