* {
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;

}
body{
    margin-left: 200px;
    margin-right: 700px;
}
h1,h2 {
    color: green;
}
a{
    color: purple;
}
.date {
    text-align: right;
    top: 15px;
    right: 700px; 
    position: absolute;
}
.author-photo {
    border-radius: 50%;
}
.life{
    text-align: right;
    top: 2px;
    right: 450px;
    position: absolute;
}
.name{
    text-align: right;
    position: absolute;
    top: 680px;
    right: 1150px;
}
