.first {
    background-color: red;
}
.second {
    background-color: red;
}
.third{
    background-color: yellow;
}
.fourth{
    background-color: yellow;
}
.fifth {
    background-color: green;
}
.sixth {
    background-color: green;
}