table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid lightgray;
}

th {
    /* стили для ячеек-заголовков */
}