.row-1 {
    
}

.row-2 {
    
}

.row-3 {
    
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 5px;
    padding-right: 10px;
    border: 1px solid lightgray;
}

th {
    padding: 10px;
    border: 1px solid black;
}

caption {
    margin-bottom: 10px;
    font-size: 18px;
}