body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
}
td { 
    border-top: 1px solid black;
    border-left: 1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding: 5px;
    padding-bottom: 5px;
}
    
