*{
    margin: 0px;
    padding: 0px;
    border: 0px
}

header{
    height: 128px;
}

.logo{
    float: left;
    width: 20%;
}

.logo-img{
    float: left;
    margin-left: 13.5%;
    margin-top: 5%
}

.logo-txt{
    float: left;
    margin-top: 9%
}

nav{
    float: left;
    width: 70%;
    margin-right: 10%
}

.item{
    float: right;
    margin-left: 6%;
    margin-top: 3%;
    text-align: center
}

.icon-txt{
    text-align: center
}

.intro{
    border: solid;
    padding: 0px;
    width: 1600px;
    height: 60px;
}