* {
    margin: 0px;
    padding: 0px;
    border: 0px
}

@font-face{
    font-family: Bebas;
    src: url(bebas.ttf)
}

@font-face{
    font-family: Calibri;
    src: url(Calibri.ttf)
}

@font-face{
    font-family: StMarie;
    src: url(StMarie-Thin.otf)
}

header {
    width: 100%;
    height: 10%;
    display: inline-block;
}

.logo {
    float: left;
    width: 20%;
    height: 90%;
}

.logo-img {
    float: left;
    margin-left: 13.5%;
    margin-top: 4.5%
}

.logo-txt {
    float: left;
    font-family: "Calibri";
    margin-top: 1.5%;
    margin-left: 3.5%
}

.orange {
    font-size: 37px;  
    font-family: "Calibri"; 
    color: rgb(251, 156, 6)
}

.rabbit {
    font-size: 37px;
    font-family: "Bebas";    
    color: rgb(110, 109, 107)
}

nav {
    float: left;
    width: 70%;
    margin-right: 10%
}

.item {
    float: right;
    margin-left: 6%;
    margin-top: 3%;
    text-align: center
}

.icon-txt {
    text-align: center
}

main{
    width: 100%;
}

.intro {
    width: 100%;
    height: 400px;
    border-bottom: orange solid 4px;
    border-top: orange solid 4px;
    position: relative;
}

.intro-img{
    width: 100%;
    height: 100%;
}

.intro-txt {
    width: 25%;
    position: relative;
    bottom: 270px;
    left: 215px;
    font-size: 37px;
}

.intro-txt-rabbits {
    width: 25%;
    position: absolute;
    top: 30%;
    left: 13%;
    margin: 1.6%;
    font-family: "Bebas";
    font-size: 250%;
    color: rgba(251, 156, 6);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro-txt-orange {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 13%;
    margin: 1.6%;
    font-family: "Bebas";
    font-size: 250%;
    color: rgb(110, 109, 107);
    text-align: center;
    background-color: rgba(255, 175, 18, 0.7);
}

.articles {
    float: left;
    width: 75%;
    margin: 0% 15%
}

.article {
    float: left;
    font-family: "Calibri";
    width: 22%;
    padding: 0.5% 1.5%;
    font-size: 15px;
    text-align: justify
}

a{
    text-decoration: none;
    color: rgb(255, 175, 18);
    float: right
}

.info{
    float: left;
    width: 88%;
    margin: 1.3% 12% 0% 12.5%
}

h1{
    width: 18%;
    color: rgb(255, 175, 18);
    margin-left: 40%
}

.team-member{
    float: left;
    width: 22.5%;
    padding: 1.5% 4%;
    text-align: center
}

.photo{
    width: 90%;
    border-radius: 100%;
    border: rgb(255, 175, 18) solid 5px
}

.about{
    text-align: justify;
    font-family: "Calibri";
    color: rgb(51, 51, 51);
    font-size: 15px;
}

.name{
    float:left;
    margin: 1% 0% 2.5% 30% 
}

.position{
    float: left;
    color: rgb(255, 175, 18);
    margin: 1% 0% 2.5% 
}

.name{
    color: rgb(110, 109, 107);
}

h2{
    width: 25%;
    color: rgb(255, 175, 18);
    margin-left: 45%
}

label{
    color: rgb(255, 175, 18);
    margin: 1% 0% 1% 15%
}

.text-field{
    margin: 1% 2%;
    background-color: rgb(247, 246, 245);
    width: 70%;
    border-left: rgb(209, 208, 207) solid 5px;
    border-top: rgb(209, 208, 207) solid 2px;
}

.button{
    background-color: rgb(255, 175, 18);
    color:white;
    width: 5%;
    position: absolute;
    left: 78.5%
}

#message-field{
    margin: 1% 0.8%;
    height: 85px;
}

footer{
    height: 30px;
    margin-top: 5%;
    background-color: rgb(255, 175, 18);
}

.copyright{
    text-align: center;
    color: white;
    font-family: "StMarie";
    padding: 0.5%
}