p {
    text-align: center;
}

.feature__img {
    width: 150px;
    margin-right: 35px;
}

.feature__name {
    padding-top: 25px;
}

.feature {
    padding-top: 50px;
}

.text {
    padding-top: 50px;
}