.form__btn {
    background-color: rgb(132, 134, 143);
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    width: 120px;
    border: 0;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .form {
        text-align: center;
    }
}