table {
    border-collapse: collapse;
}


td {
    border-bottom: 2px solid lightgray; 
    padding: 10px
}

body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}