body {
    background-color: rgb(150, 150, 150);
    font-family: 'Tahoma';
    font-size: 18px;
    line-height: 2em;
}

a {
    margin-left: 1.0em;
    color: rgb(255, 255, 255);
}

header,
footer {
    color: white;
    background-color: dimgrey;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

img {
    width: 15em;
    height: 15em;
    border-radius: 1.5em;
    border: 3px solid rgba(105, 105, 105, 0.5);
}

section {
    display: inline-block;
    width: 1020px;
    border-bottom: 3px solid rgba(105, 105, 105, 0.5);
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.me-photo {
    width: 35%;
    float: left;
}

.me-contact {
    margin-top: 5%;
}

.form {
    display: inline;;
    border: 3px solid gray;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: dimgrey;
    color: white;
}

.submit {
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: gray 2px 1px 1px 3px inset;
    text-shadow: grey 0px 1px 1px;
    background-image: linear-gradient(rgb(96, 97, 96), rgb(109, 112, 108));
    color: white;
    font-family: 'Tahoma';
    font-size: 18px;

}

.submit:hover {
    background-image: linear-gradient(rgb(76, 77, 76), rgb(93, 95, 93));
}