/* Общие стили для документа и блоков, менять не надо */

body {
    width: 450px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

/* Собственные стили блоков */

.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 230px;
    text-align: center;
    background: #333333;
    color: #ffffff;
}

.contacts {
    float: right;
    width: 110px;
    height: 23px;
    text-align: center;
    font-style: italic;
    background: #333333;
    color: #ffffff;
    word-wrap: break-word;
    padding-top: 3px
}

.about-us {
    width: 230px;
    margin-bottom: 20px;
    float: left;
}

.about-us h1 {
    font-size: 25px
}

.about-us p {
    font-size: 12px;
}

.main-menu {
    width: 110px;
    float: right;
}

.footer {
    clear: both; 
    background: #333333;
    color: #ffffff;
}