/* Общие стили для документа и блоков, менять не надо */

body {
    width: 450px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

/* Собственные стили блоков */

.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 300px;
    text-align: center;
    background-color: black;
    color: white;
}

.contacts {
    width: 170px;
    text-align: center;
    margin-left: 370px;
    background-color: black;
    color: white;
}

.about-us {
    float: left;
    width: 300px;
    margin-bottom: 10px;
}

.main-menu {
    width: 170px;
    margin-left: 370px;
    height: 50;
}

.footer {
    float: left;
    width: 540px;
    background-color: black;
    color: white;
}