/* Общие стили для документа и блоков, менять не надо */

body {
    width: 450px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

/* Собственные стили блоков */
div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
}
.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

.contacts {
    float: right;
    width: 110px;
    text-align: center;
    background-color: black;
    color: white;
}
.about-us {
    width: 200px;
    margin-bottom: 10px;
}

.about-us h1 {
    float: left;
}

.about-us p {
    font-size: 12px;
    float: left;
}

.main-menu {
    width: 50px;
    float: left;
}

.footer {
    clear: both;
    background-color: black;
    color: white;
}
.class {
    background-color: black;
}
