p {
    padding: 10px;
}

.green {
    background-color: #dff0d8;
}

.blue {
    background-color: #aaddff;
}

.nice-box {
    border-radius: 15px;
    box-shadow: 3px 3px 4px #cccccc;
}