/* Общие стили для документа и блоков, менять не надо */

body {
    width: 470px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    border: 2px solid #cccccc;
}

/* Собственные стили блоков */

.header {
    min-height: 40px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 200px;
    text-align: center;
    background-color: rgb(53, 52, 52);
    color: white;
}

.contacts {
    float: right;
    width: 160px;
    text-align: center;
    background-color: rgb(53, 52, 52);
    color: white;
}

.about-us {
    float: left;
    width: 200px;
    margin-bottom: 10px;
}

.about-us h1 {
    font-size: 20px;
}

.about-us p {
    font-size: 12px;
    color: rgb(68, 68, 73);
    font-weight: 600;
}

.main-menu {
    float: right;
    width: 160px;
}

.footer {
    clear: both;
    background-color: rgb(53, 52, 52);
    color: white;
}