/*
.scene {
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.roof {
    width: 0;
    margin: 0 auto;
    margin-top: -50px;
    border: 150px solid white;
    border-bottom-color: red;
}

.house {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: blue;
    overflow: hidden;
}

.door {
    height: 100px;
    width: 50px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: red;
}
*/