table {
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    border: 2px solid lightgray;
    /* border-bottom: 2px solid lightgray; */
    /* border-left: 2px solid lightgray; */
}