body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    border-bottom: 2px solid black;
}

td {
    border: 2px solid lightgray;
    padding: 5px;
}


caption {
    caption-side: bottom;
}
