table {
    border-collapse: separate;
    border: 2px solid black;
    border-spacing: 4px;
}

td {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid lightgray;
}

.pink {
    background-color: pink;
}