table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid black;
    border-right: 2px solid black;
}

th {
    padding: 10px;
    border: 2px solid black;
}