@font-face {
    font-family: MyFont;
    src: url(Thasadith-Regular.ttf);
}

* {
    font-family: MyFont;
    margin: 0px;
    padding: 0px;

}

header {
    height: 80px;
}

.logo {
    float: left;
    margin-left: 300px;
    margin-top: 6px;
    margin-bottom: 5px;
}

.logo-img{
    width: 65px;
    height: 65px;
}

.nav {
    margin-left: 400px;
    margin-top: 25px;
    font-size: 20px;
    float: left;
    text-align: center;
    color: rgb(156, 156, 156);
}

.nav-item {
    float: left;
    margin-right: 20px;
}

section {
    display: inline-block;
}

.background-image1{
    width: 1519px;
    height: 1100px;
    opacity: 0.25;
}

.intro {
    background-color: rgba(0, 0, 0, 1);
    height: 1100px;
    position: relative;
}

.intro-items {
    position: absolute;
    left: 200px;
    top: 450px;
}

.intro-text {
    font-size: 50px;
    color: white;
}

.intro-button2 {
    border-radius: 20px;
    font-size: 25px;
    padding: 6px 20px;
    border: 2px solid orange;
    color: orange;
    background-color: rgba(0, 0, 0, 0);
}
.intro-button2:hover {
    background-color: orange;
    color: white;
}

.intro-button1 {
    border-radius: 20px;
    font-size: 25px;
    padding: 6px 20px;
    border: 2px solid orange;
    color: white;
    background-color: orange;
}
.intro-button1:hover {
    background-color: orange;
    color: white;
}

.about {
    margin-top: 20px;
    text-align: center;
    margin-left: 350px;
}

.hr {
    width: 60px;
    margin-left: 46%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 35px;
    text-align: center;
}

.column {
    width: 200px;
    float: left;
    margin: 20px;
}

.columns {
    text-align: left;
}

.example-photo {
    width: 379.5px;
    height: 379.5px;
    float: left;    
}

.mobile-app {
    margin-top: 20px;
    margin-left: 450px;
}

.mobile-app-img {
    height: 580px;
    width: 280px;
    float: left;
}

.mobile-app-text {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    width: 400px;
}

.number {
    width: 50px;
    height: 50px;
}

.app-text {
    display: inline;
}

.download {
    display: inline;
    float: left;
    margin-left: 80px;
    margin-top: 50px;
}

.title-app {
    font-size: 35px;
    text-align: center;
    margin-left: 20px;
}

.cities-icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.cities-text {
    display: inline;
    float: left;
    margin-right: 30px;
}

.city-photo {
    width: 200px;
    height: 180px;
}

.cities {
    margin-left: 300px;
    margin-top: 40px;
}
