@font-face {
  font-family: Bebas;
  src: url(bebas.ttf);
}

* {
  font-family: MyFont;
  margin: 0px;
  padding: 0px;
}

body {
  width: 1600px;
}

header {
  width: 1600px;
  height: 130px;
}

.logo {
  width: 20%;
  float: left;
}

.logo-rabbit {
  margin-left: 220px;
  margin-bottom: 20px;
  float: left;
  position: absolute;
  margin-top: 5px;
  width: 85px;
  height: 105px;
}

.logo-name-orange {
  margin-top: 30px;
  margin-left: 360px;
  font-family: "Calibri";
  color: rgb(251, 156, 6);
  text-align: center;
  position: absolute;
  width: 107px;
  height: 20px;
}

.logo-name-rabbit {
  margin-top: 70px;
  position: absolute;
  margin-left: 360px;
  font-family: "Calibri";
  color: rgb(158, 155, 155);
  text-align: center;
  width: 115px;
  height: 35px;
}

nav {
  width: 55%;
  float: left;
  margin-right: 12.5%;
  margin-left: 37.5%;
  font-weight: bold;
  text-align: center;
  height: 130px;
  margin-top: 25px;
}

.nav-item {
  float: left;
  margin-left: 100px;
  font-family: "Calibri";
  color: rgb(158, 155, 155); 
  text-align: center;
  font-weight: bold;
}

.preview {
  border-top: 4px solid rgb(251, 156, 6);
  border-bottom: 4px solid rgb(251, 156, 6);
  position: relative;
  height: 400px;
  display:block;
  background-image: url(background.png);
}

.taglines {
  position: absolute;
  top: 150px;
  margin-left: 250px;
}

.tagline {
  font-family: "Bebas";
  background-color: rgba(0, 0, 0, 0.7);
	color: rgba(251, 156, 6, 0.7);
  background-size: 395px;
  font-size: 33px;
  font-weight: 395px;
  width: 395px;
  height: 65px;
  text-align: center;
  margin-bottom: 10px;
}

.tagline:nth-child(2n) {
  background-color:rgba(251, 156, 6, 0.7);
  color: rgba(0, 0, 0, 0.7);
}

.short-topics {
  column-count: 4;
  margin-right: 220px;
  margin-left: 220px;
  display: block;
  width: 1160px;
}

.column {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 260px;
}

.column-link {
  float: right;
  color: rgb(251, 156, 6);
  font-style: italic;
}

.meet {
  text-align: center;
  font-weight: normal;
  float: left;
  color: rgb(251, 156, 6);
  font-size: 40px;
  font-family: "Calibri"; 
  width: 1600px;
  margin-left: -50px;
}

.members{
  column-count: 3; 
  float: left;
}

.member1 {
 margin-left: 200px;
 margin-right: 65px;
 width: 300px;
}

.member2 {
  margin-left: 35px;
  margin-right: 0px;
  width: 300px;
}

.member3 {
  margin-left: -155px;
  margin-right: 200px;
  width: 300px;
}

.grey {
  color: rgb(158, 155, 155);
}

.orange {
  color:  rgb(251, 156, 6);
}

.photo {
  column-count: 3;
  column-gap: 5%;
  column-width: 35%; 
  width: 200px;
  height: 200px; 
  border: 5px solid rgb(251, 156, 6);
  border-radius: 50%;
}

.contact {
  margin-right: 200px;
  margin-left: 200px;
}

.contact-headline {
  text-align: center;
  font-size: 40px;
  color: rgb(251, 156, 6);
  text-decoration: underline;
  font-weight: normal;
  float: left;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.contact-item {
  display: inline; 
  color: rgb(251, 156, 6);
  font-size: 30px;
}

.form-item {
	border-left: 4px solid rgb(158, 155, 155);
	width: 1060px;
  height: 30px;
  margin-left: 32px;
  margin-bottom: 40px;
}

.form-item-message {
  border-left: 4px solid rgb(158, 155, 155);
	width: 1060px;
  height: 90px;
  margin-bottom: 40px;
}

.form-button {
	background-color:  rgb(251, 156, 6);
	width: 175px;
	height: 50px;
	font-size: 30px;
  color: white; 
  float: right;
}

footer {
  background-color: rgb(251, 156, 6);
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 2;
  margin-top: 60px;
  margin-bottom: 8px;
  font-size: 25px;
  width: 1600px;
}