@font-face {
	font-family: MyFont;
	src: url(PT_Sans-Web-Regular.ttf);
}

*{
  font-family: MyFont;
  margin: 0px;
  padding: 0px;
}

header{
  height: 100px;
}

.logo{
  float: left;
  width: 20%;
}

nav{
  float: left;
  width: 60%;
}

.nav-item{
  float: left;
  margin-left: 1000px;
  font-family: "Calibri";
  color: rgb(251, 156, 6);
  text-align: center;
  font-weight: bold; 
}

.orange {
  font-family: "Calibri";
  color: rgb(251, 156, 6);
  text-align: center;
  padding-left: 25.7%;
  width: 7.5%;
  top: 5%;
}

.rabbit{
  font-family: "Calibri";
  color: #6e6d6b;
  text-align: center;
  padding-left: 25.7%;
  width: 7.5%;
  top: 10%;
  font-size: 40px;
}

.icon {
  font-size: 22px;
  font-family: "Calibri";
  color: rgb(158, 155, 155);
  text-align: center;
  width: 80%;
  float: right;
  font-weight: bold;
  float: left;
}

.main-part{
background-image:url("background.png");
position: absolute; 
width: 1600px;
height: 400px:
}

.tagline1{
  background-color: #666666;
	color: rgb(251, 156, 6);
	font-size: 37px;
  border: 1px solid #666666;
  opacity: 0.7;
}

.tagline2 {
  background-color:rgb(251, 156, 6);
	color: #666666;
	font-size: 37px;
  border: 1px solid rgb(251, 156, 6);
  opacity: 0.7;
}

.posts {
  margin-right: 100px;
  margin-left: 150px;
}

.post {
  float: left;
  margin-right: 4%;
  width: 260px;
}

.post-link {
  float: right;
  color: rgb(251, 156, 6);
  font-style: italic;
}

.meet {
text-align: center;
font-size: 40px;
color: rgb(251, 156, 6);
text-decoration: underline;
font-weight: normal;
float: left;
width: 50%;
margin-right: 25%;
margin-left: 25%;
}

.columns2{
column-count: 3;
column-gap: 5%;
column-width: 35%; 
padding-left: 15.7%;
padding-right: 15.7%;
}

.grey {
color: #6e6d6b;
}

.orangege {
color:  rgb(251, 156, 6);
}

.photo {
column-count: 3;
column-gap: 5%;
column-width: 35%; 
width: 200px;
height: 200px; 
border: 5px solid rgb(251, 156, 6);
border-radius: 50%;
}

.contact-headline {
text-align: center;
font-size: 40px;
color: rgb(251, 156, 6);
text-decoration: underline;
font-weight: normal;
float: left;
width: 50%;
margin-right: 25%;
margin-left: 25%;
margin-top: 60px;
margin-bottom: 40px
}

.contact {
width: 80%;
margin-right: 10%;
margin-left: 10%;
}


.contact-item {
display: inline; 
color: rgb(251, 156, 6);
font-size: 30px; 
}

.form-button {
background-color: rgb(251, 156, 6);
width: 170px;
height: 50px;
font-size: 30px;
color: #ffffff;
}

.form-item {
border-left: 4px solid #b3b3b3;
width: 1000px;
height: 30px;
}

footer {
background-color: rgb(251, 156, 6);
color: white;
text-align: center;
font-weight: 400;
line-height: 2;
margin-top: 60px;
margin-bottom: 8px;
font-size: 25px;
}