h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

body {
    font-size: 20px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

img.fig {
    float: left;
    padding-right: 50px;
}

p {
    font-size: 20px;
}

section {
    margin-top: 50px;
}

section.sect2 {
    float: inline-end;
}

dt {
    margin-top: 10px;
}
