h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

h2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
}

body {
    font-size: 20px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

img.fig {
    float: left;
    padding-right: 50px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}