*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
body {
    margin-left: 200px;
    margin-right: 700px;
}
h1,h2 {
    color: green;
}
a {
    color: purple;
}
.date {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 700px;
}
.author-photo {
    border-radius: 50%;
}
